@import "scss/functions";
@import "scss/variables";
@import "scss/mixins";
@import "scss/grid-functions";
/* ============ Grid ============ */
@import "scss/grid";
/* ============ Slideshow ============ */
@import "scss/slideshow";

/* ============ Main ============ */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #222222;
    color: #ffffff;
}

header {
    padding: 1rem;
    background-color: #ffffff;
    color: #000000;
    a {
        color: #000;
        text-decoration: none;
        &:visited {
            color: #000;
        }
        &:hover {
            color: #f80;
        }
    }
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list a {
    margin: 1rem;
}

footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

h1,
.h1 {
    font-size: 2rem;
}

h2,
.h2 {
    font-size: 1.5rem;
}

.section-padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

a {
    color: #fff;
    text-decoration: none;
    &:visited {
        color: #fff;
    }
    &:hover {
        color: #bbbbbb;
    }
}

.filter-container {
    text-align: center;
    margin-bottom: 2rem;
}

.filter {
    display: inline-block;
    margin-right: 1rem;
}

#games {
    min-height: 800px;
}

.hide {
    display: none;
}

.game {
    .item {
        margin-bottom: 2rem;
        border-radius: 0 0 10px 10px;
        box-shadow: 3px 3px 10px #000;
        img {
            width: 100%;
        }
        p {
            margin: 0;
            padding-top: 0.2rem;
            padding-left: 0.6rem;
            padding-bottom: 0.5rem;
        }
    }
}

.img-container {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.img-100 {
    width: 100%;
}

.video {
    @media (max-width: 768px) {
        margin-bottom: 1rem;
    }
}

.video-resize {
    margin: 0px auto;

    > div {
        position: relative;
        padding-bottom: 56.25%;
        height: 0px;
    }

    iframe {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
}
